.task{
    background: url('../../Assets/Img/task.png');
    background-repeat: no-repeat;
    height: 803px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        &__title{
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 700;
            font-size: 42px;
            line-height: 129.5%;
            color: #fff;
            text-align: center;            
        }
        &__list{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            &__item{
                margin: 25px;
                background: rgba(189, 0, 255, 0.4);
                backdrop-filter: blur(2px);
                width: 382px;
                height: 120px;
                &__number{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    background: #B131DD;
                    color: #fff;
                    border-bottom-right-radius: 20px;
                }
                &__text{
                    width: 350px;
                    margin: 0 auto;
                    text-align: center;
                    justify-content: center;
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 21.8647px;
                    line-height: 129.5%;
                    color: #fff;
                    overflow-y: scroll;
                    height: 85px;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .task{
        display: none;
    }
}